* {
  box-sizing: border-box;
  /* border: 1px solid #eee; */
}

body {
  background: #ccc !important;
}

svg {
  width: 100%;
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

/* Layout Hierarchy:
 * app -> block -> component
 */

.app {
  width: 1920px;
  height: 1200px;
  padding: 8px;
  background: #fff;
  border: 1px solid #777;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 4fr 6fr;
  column-gap: 8px;
}

.block,
.component {
  overflow: hidden;
}

.block {
  border: 1px solid #777;
  width: 100%;
  height: 100%;
  padding: 0 10px 10px 10px;
}

.block__iap {
  display: grid;
  grid-template-rows: 1fr 160px;
}

.histogram__graph {
  height: 70px;
}

.violin-plot {
  height: 70px;
}
