* {
  box-sizing: border-box;
  /* border: 1px solid #eee; */
}

body {
  background: #ccc !important;
}

svg {
  width: 100%;
  height: 100%;
}

/* Layout Hierarchy:
 * app -> zone (-> zone) -> block -> (component-group ->) component
 */

.app {
  width: 1920px;
  height: 1080px;
  padding: 8px;
  background: #fff;
  border: 1px solid #777;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 8px;
}

.zone,
.block,
.component-group,
.component {
  overflow: hidden;
}

.zone--left {
  height: 100%;
}

.zone--right {
  display: grid;
  grid-template-rows: 3fr 4fr;
  width: 100%;
  height: 100%;
  row-gap: 8px;
}

.zone--right-top {
  width: 100%;
  height: 100%;
}

.block {
  border: 1px solid #777;
  height: 100%;
}

.block__fip {
  overflow: scroll;
}

.fip__row {
  display: flex;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
}

.fip__row .material-icons {
  line-height: 50px;
  font-size: 36px;
}

.fip__item {
  width: 12.5%;
  text-align: center;
  color: #333;
  border-right: 1px solid #eee;
}

.fip__item__has {
  color: #AAA;
}

.block__iap {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.iap__component-group--left {
  display: grid;
  grid-template-rows: 1fr 150px;
}

.iap__component-group--right {
  display: grid;
}

.component__agumentator {
  height: 100%;
  overflow-y: hidden;
}

.agumentator__add-button {
  width: 75%;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 900;
  background-color: #aaf;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}

.agumentator__histograms {
  width: 100%;
  height: calc(100% - 30px);
  overflow-y: scroll;
}

.component__histogram {
  width: 95%;
  height: 130px;
  padding: 10px;
  margin: 10px 2px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.histogram__header {
  height: 28px;
  line-height: 28px;
  font-size: 24px;
  line-height: 28px;
}

.histogram__title {
  float: left;
  height: 28px;
}

.component__histogram .button {
  float: right;
  height: 28px;
  font-size: 16px;
}

.histogram__graph {
  height: 50px;
}

.histogram__range-description {
  font-size: 16px;
  color: #555;
  padding: 4px;
}

.histogram-add-button__wrapper {
  width: 95%;
  height: 50px;
  padding: 10px;
  margin: 10px 2px 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
