* {
  box-sizing: border-box;
  /* border: 1px solid #eee; */
}

body {
  background: #ccc !important;
}

svg {
  width: 100%;
  height: 100%;
}

/* Layout Hierarchy:
 * app -> zone (-> zone) -> block -> (component-group ->) component
 */

.app {
  width: 1920px;
  height: 1080px;
  padding: 8px;
  background: #fff;
  border: 1px solid #777;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 8px;
}

.zone,
.block,
.component-group,
.component {
  overflow: hidden;
}

.zone--left {
  height: 100%;
}

.zone--right {
  display: grid;
  grid-template-rows: 3fr 4fr;
  width: 100%;
  height: 100%;
  row-gap: 8px;
}

.zone--right-top {
  width: 100%;
  height: 100%;
}

.block {
  border: 1px solid #777;
  height: 100%;
}

.block__fip {
  overflow: scroll;
}

.fip__row {
  display: flex;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
}

.fip__row .material-icons {
  line-height: 50px;
  font-size: 36px;
}

.fip__item {
  width: 12.5%;
  text-align: center;
  color: #333;
  border-right: 1px solid #eee;
}

.fip__item__has {
  color: #AAA;
}

.block__iap {
  display: grid;
  grid-template-rows: 1fr 160px;
}

.histogram__graph {
  height: 50px;
}
