.block.block__table {
  box-sizing: border-box;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#table__tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #ffe;
  padding: 5px 10px;
  border-radius: 3px;
}

thead {
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

th {
  background: #fff;
  border-bottom: 1px solid #aaa;
}

.table-header__feature-name {
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  cursor: pointer;
}

.table-header__feature-name .material-icons {
  height: 12px;
  line-height: 12px;
}

tr {
  min-height: 50px;
  padding: 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

tr:hover {
  background-color: #eee;
}

th, td {
  border-right: 1px solid #eee
}

td svg {
  height: 24px;
}

td.focused {
  float: left;
  width: 100%;
}

td.focused .focused-card {
  width: calc(100% - 20px);
  height: 300px;
  overflow-y: scroll;
  margin: 20px 20px 40px 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.25);
}


.histogram__graph {
  height: 100px;
}

.material-icons {
  height: 35px;
  line-height: 35px;
}
