.block.block__table {
  box-sizing: border-box;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  height: 85px;
  overflow: auto;
}

th {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-header__feature-name {
  height: 35px;
  line-height: 35px;
  font-weight: 400;
  cursor: pointer;
}

tr {
  /* display: block; 있으면 헤더 고정 안됨 */
  /* display: block; 없으면 행 여는거 안됨 */
  /* display: block; */
  min-height: 50px;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

td svg {
  height: 24px;
}

td.focused {
  float: left;
  width: 100%;
}

td.focused .focused-card {
  width: calc(100%-20px);
  height: 300px;
  overflow-y: scroll;
  margin: 20px 20px 40px 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.25);
}


.histogram__graph {
  height: 100px;
}

.material-icons {
  height: 35px;
  line-height: 35px;
}
